:root {
  /* --typeColor: #3b5af7; */
  --projectsPage: #88ead6;
  --smallWidth: 85vw;
  /* --fullWidth: 1500px; */
  --primaryRGBA: rgba(12, 4, 53, 0.52);
  --primaryRGBATwo: rgba(48, 92, 146, 0.52);
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --mybackgraoundColor: #3d5ab1;
  --FooterBlue: #001d5b;
}
body {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}

.mainSect {
  min-height: 10vh;
  background-color: var(--mybackgraoundColor);
  /* padding-bottom: 30px; */
  position: relative;
  padding: 0px 30px;
}

.proSect {
  min-height: 100vh;
  background-color: var(--mybackgraoundColor);
  /* background: rgba(0, 0, 0, 0.4),  */
  /* background: url(${props => props.img}) center/cover no-repeat; */
  /* url("../images/checkerboard_cross.png") center/cover no-repeat; */
  /* opacity: 0.5; */
  position: relative;
  padding: 0px 20px;
}

.contactSect {
  height: 100vh;
  background-color: var(--mybackgraoundColor);
  padding-bottom: 30px;
}

.outerSpacing {
  padding: 10px 20px;
  grid: display;
}

.top-area {
  height: 20vh;
  /* width: 50%; */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* margin: auto; */
  /* justify-content: space-evenly; */
  justify-items: center;
  grid-gap: 20px;
  padding: 30px 30px 10px 50px;
  justify-content: space-around;
}

.box {
  height: 20vh;
  background: #17bc0b; 
  color: #fff;
  text-align: center;
  /* border-bottom: 2px solid rgba(0, 0, 255, 0.52);  */
  border-top: 2px solid rgba(0, 0, 255, 0.52);
  /* margin: 15px; */
  width: 200px; 
}
.head {
  text-align: center;
  padding-top: 20px;
}

.subhead {
  padding: 40px 0px 20px 30px;
}

.mySect {
  padding-top: 40px !important;
  font-weight: bold;
  color: #9ac2e4;
}

.mybox {
  height: 20vh;
  width: 70%;
  background: linear-gradient(var(--primaryRGBA), var(--primaryRGBATwo));
  mix-blend-mode: hard-light;
  color: #fff;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 255, 0.52); 
  border-top: 2px solid rgba(0, 0, 255, 0.52);
}

.bannerCl {
  min-height: calc(45vh);
  background: url("../images/bridge.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: var(--smallWidth); */
  max-width: var(--fullWidth);
}

@media screen and (max-width: 768px) {
  .bannerCl  {
      padding-top: 20px;
      display: flex;
      /* width: var(--smallWidth); */
      font-size: 120%;
  }
  .ulMyclass {
    margin-left: 20px;
  }

  .proSect {
    padding: 0px 20px;
}
}

/* navbar  */
.ulMyclass {
  margin-left: 17%;
}
